@import "tailwindcss";

@theme {
  /* Couleurs */
  --color-primary: #1e3a8a; /* Bleu nuit */
  --color-secondary: #047857; /* Vert sapin */
  --color-accent: #f59e0b; /* Orange doré */
  --color-accent: #f59e0b; /* Orange doré */
  --color-neutral: #f3f4f6; /* Gris clair */
  --color-white: #ffffff; /* Blanc pur */
  --color-text-primary: #1f2937; /* Gris foncé */

  /* Polices */
  --font-sans: Roboto, ui-sans-serif, system-ui;
  --font-serif: Merriweather, ui-serif, Georgia;

  /* Tailles de police */
  --text-base: 1rem; /* 16px */
  --text-lg: 1.125rem; /* 18px */

  /* Line height */
  --leading-normal: 1.6;

  /* Couleur du texte par défaut */
  --text-color-default: #1f2937;
}
body {
  font-family: var(--font-sans);
  color: var(--text-color-default);
  line-height: var(--leading-normal);
  background-color: var(--color-neutral);
  font-size: 14px;
  margin: 0;
  padding: 0;
  font-weight: 400;
  line-height: calc(1 / 0.75);
}

input {
  font-size: 14px;
  font-weight: 300;
}

@keyframes slide-in {
  from {
    transform: translateX(100%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

.animate-slide-in {
  animation: slide-in 0.5s ease-out;
}

@keyframes pulse {
  0%,
  100% {
    opacity: 1;
  }
  50% {
    opacity: 0.6;
  }
}

.animate-pulse {
  animation: pulse 1.5s infinite;
}

.min-400 {
  @media (width >= 400px /* 640px */) {
    display: block;
  }
}
